html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.nav-bar{
    position: relative;
}
.nav-list a{
	color:#87AAAA;
	font-size: 18px;
}
.nav-btn a{
    color:white;
    background-color: #EDB161;
    margin:0;
    padding:10px;
    text-decoration: none;
} 
.nav-btn:hover{
    text-decoration: none;
    color: white;
}
.nav-img {
    position: relative;
}
.nav-img img{
    width: 100px;
    height: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.custom-active {
    border-left: 2px solid #EDB161;
    border-image: linear-gradient(to top, #EDB161 50%, rgba(0,0,0,0) 50%); 
    border-image-slice: 1;
    border-bottom: 2px solid black;
    border-image: linear-gradient(to right, #EDB161 50%, rgba(0,0,0,0) 50%); 
    border-image-slice: 1;
} /* 50% border left and bottom */
/* About page */
.aboutpage{
    background-color: #ffe3be;
    width:100%;
    height: 100%;
}
.main-head{
    margin:6rem auto;
    padding-bottom:5rem;
}
.main-head h1{
    font-size:50px;
    margin:auto;
    width:40%;
    color:#47645D;
    text-transform: capitalize;
    font-weight: 700;
}
.main-head p{
    margin: auto;
    width:40%;
    color:#87AAAA;
    font-weight: 700;
}
/* AboutUs-service page */
.ser-img2{
    padding:0 3rem;
}
.about-service-img1 img{
    margin: 0 0 0 4rem;
    float:right;
}
.about-service-img2 img{
    width:90%;
    height:100%;
}
.about-service-head{
    margin-top:3rem;
}
.about-service-head h2{
    color:#EDB161;
    text-transform: capitalize;
    font-weight: 700;
    width:90%;
}
.about-service-head p{
    width: 90%;
    color:#87AAAA;
    font-weight: 700;
    margin-top:1.5rem;
}
/* About Numbers page */
.about-numbers-head{
    margin-top:5rem;
    color:#EDB161;
    font-weight: 700;
    font-size: 40px;
}
.h-line{
    margin-top: 20px ;
    width: 100%;
    height: 2px;
    background-color: #87AAAA; 
}
.about-numbers-para{
    color:#87AAAA;
    width:35%;
    font-weight: 700;
}
.v-line {
    height: 100%;
    width: 2px;
    background-color: #87AAAA;
    display: block;
    margin: 0 auto;
}
.about-numbers-client{
    padding:0 2rem;
}
.about-numbers-client h4{
    color:#35656D;
    font-size: 40px;
    font-weight: 700;
}
.about-numbers-client a{
    color:#EDB161;
    font-weight: 500;
}
/* About work page */
.about-work-head h1{
    width:75%;
    font-size:32px;
    margin:0 auto;
    text-transform: capitalize;
    color:#EDB161;
    font-weight: 700;
    line-height: 1.2;
}
.img-about {
    margin:0 auto;
    width: 100%;
    height: 150px;
    background: url('./images/about-us-rect.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.pink-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f1e7;
    opacity: 0.8;
}
.blue-img {
    width: 60%;
    height: 250px;
    background: url('./images/about-us-rect.png');
    background-size: cover;
    /* overflow: hidden; */
    position: relative;
}
.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(135, 170, 170,0.7) 40%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 100%;
}
.details{
    position: absolute;
    padding:10px;
}
.details h3{
    font-size:55px;
    color:rgba(53, 101, 109,0.6);
    font-weight: 700;
}
.details p{
    color:rgb(109, 136, 136);
    font-weight: 700;
    font-size: 22px;
}
.orange-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(237, 177, 97,0.6) 40%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 100%;
}
/* About Connect page */
.about-connect{
    padding-bottom: 5rem;
}
.about-connect-div{
    background-color: rgba(151, 185, 185, 0.6);
    padding:40px;
    border: 12px solid rgba(151, 185, 185, 0.6);
    border-radius: 30px;
}
.connect-head h1{
    text-transform: capitalize;
    color:#3e5751;
    font-size:35px;
    font-weight: 700;
}
.connect-head p{
    color:#5c8d8d;
    width:65%;
    font-weight: 700;
    margin-top:15px;
    font-size: 16px;
}
.connect-text {
    color: #EDB161;
    display: flex;
    margin-top: 10px;
    padding: 0 10rem;
}
.connect-text div {
    width: 60px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
    background-color: #EDB161;
}
.connect-text i {
    color: white;
    font-size: 22px;
    padding:11px;
}
.connect-text p {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 700;
}
/* footer page*/
.footer-top{
    background-color: #fcf3ed;
    padding: 10px;
}
.footer-sec img{
    margin:20px 0 25px;
    width: 100px;
}
.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon i,p{
    margin: 10px 10px;
    color:#47645D;
}
.footer-comp h3{
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-comp p{
    margin: 20px;
    text-transform: uppercase;
}
.footer-connect h2{
    color: #EDB161;
    font-weight: 600;
    text-transform: capitalize;
}
.input-container {
    display: flex;
    width: 100%;
}
.input-container i {
    background: #EDB161;
    color: white;
    min-width: 40px;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: -50px;
    text-align: center;
}
.footer-form input{
    border: 2px solid black;
    width:70%;
    outline: none;
    height: 50px;
    background-color: #fcf3ed;
    padding: 10px 20px;
}
.footer-bottom{
    background-color: #EDB161;
}
.footer-bottom p{
    color: white;
    font-size: 16px;
}
/* Media Queries */
@media only screen and (max-width:992px){
    /* navbar */
    .nav-list a{
        font-size:15px;
    }
    .nav-img img{
        width: 90px;
        height: 97px;
    } 
    .nav-btn a{
        font-size: 15px;
    }
    /*about page  */
    .main-head{
        margin:2rem auto;
        padding-bottom:2rem;
    }
    .main-head h1{
        width:50%;
        font-size: 40px;
    }
    .main-head p{
        width:60%;
        font-size: 15px;
    }
    /* AboutUs-service */
    .ser-img2{
        padding: 0 2rem;
    }
    .about-service-img1 img{
        margin: 0 0 0 2rem;
        width:100%;
    }
    .about-service-img2 img{
        width:100%;
        height: 100%;
    }
    .about-service-head h2{
        width:90%;
        font-size:25px;
        margin:10px auto;
    }
    .about-service-head p{
        width: 90%;
        font-size:12px;
        margin:20px auto ;
    }
    /* About Numbers page */
    .about-numbers-head{
        margin-top:3rem;
    }
    .about-numbers-para{
        width:35%;
        font-size: 14px;
    }
    .about-numbers-client h4{
        font-size: 30px;
    }
    .about-numbers-client a{
        font-size: 15px;
    }
    /* about work */
    .about-work-head h1{
        width:90%;
        font-size:28px;
    }
    .blue-img {
        width: 100%;
        height: 250px;
    }
    .details h3{
        font-size:50px;
    }
    .details p{
        font-size: 18px;
    }
    /* about connect */
    .about-connect-div{
        padding:30px;
    }
    .connect-head h1{
        font-size:30px;
    }
    .connect-head p{
        width:100%;
    }
    .connect-text {
        padding: 0 4rem;
    }
    .connect-text div {
        width: 55px;
        height: 40px;
        margin-right: 10px;
    }
    .connect-text i {
        font-size: 20px;
        padding:8px;
    }
    .connect-text p {
        font-size: 15px;
    }
    /* footer page */
    .footer-sec img{
        width: 80px;
    }
    .footer-icon i,p{
        margin: 5px;
        font-size: 12px;
    }
    .footer-comp h3{
        font-size:18px;
    }
    .footer-comp p{
        margin: 12px;
    }
    .footer-connect h2{
        font-size: 20px;
    }
    .input-container i {
        padding: 8px;
        height: 35px;
        margin-top: 8px;
    }
    .footer-form input{
        width:80%;
    }
    .footer-bottom p{
        font-size: 13px;
    }
}
@media (max-width:768px){
     /* navbar */
    .nav-list a{
        font-size:12px;
    }
    .nav-img img{
        width: 80px;
        height: 87px;
    } 
    .nav-btn{
        font-size: 12px;
        padding:5px;
    }
    /*about page  */
    .main-head{
        margin:2rem auto;
    }
    .main-head h1{
        width:100%;
        font-size: 35px;
    }
    .main-head p{
        width:80%;
        font-size: 14px;
    }
    /* AboutUs-service */
    .about-service-img1 img{
        margin: 0 0 0 2rem;
        width:120%;
    }
    .about-service-img2 img{
        width:120%;
        height: 90%;
    }
    .about-service-head h2{
        width:100%;
        font-size:24px;
        margin: 0 15px ;
    }
    .about-service-head p{
        width: 90%;
        font-size:10px;
        margin:20px auto ;
    }
    /* About Numbers page */
    .about-numbers-head{
        margin-top:2rem;
    }
    .about-numbers-para{
        width:30%;
        font-size: 15px;
    }
    .about-numbers-client h4{
        font-size: 30px;
    }
    .about-numbers-client a{
        font-size: 15px;
    }
    /* about work */
    .about-work-head h1{
        width:120%;
        font-size:22px;
    }
    .img-about {
        padding:0 20px;
        width: 80%;
        height: 100px;
    }
    .blue-img {
        width: 100%;
        height: 250px;
    }
    .details h3{
        font-size:55px;
    }
    .details p{
        font-size: 20px;
    }
    /* about connect */
    .connect-head h1{
        font-size:32px;
    }
    .connect-text {
        padding:0 8rem;
    }
    .connect-text p{
        font-size:22px;
    }
    /* footer page */
    .footer-comp p{
        margin: 12px;
        line-height: 1;
    }
    .footer-connect{
        text-align: center;
    }
    .input-container{
        display: flex;
        justify-content: center;
    }
    .input-container i {
        min-width: 30px;
        padding: 5px;
        height: 30px;
        margin-top: 5px;
    }
    .footer-form input{
        width:50%;
        height: 40px;
    }
}
@media (max-width:576px){
     /*about page  */
    .main-head{
        margin:1rem auto;
    }
    .main-head h1{
        width:100%;
        font-size: 30px;
    }
    .main-head p{
        width:90%;
        font-size: 12px;
    }
    .custom-active {
        padding:0 5px;
        margin-right: 10px;
    }
    /* AboutUs-service */
    .ser-img1{
        width:50%;
        height: 50%;
    }
    .ser-img2{
        width:40%;
        height: 50%;
        padding: 1rem;
    }
    .about-service-img1 img{
        width:100%;
    }
    .about-service-img2 img{
        width:100%;
    }
    .about-service-head{
        margin:0;
        padding: 0;
    }
    .about-service-head h2{
        width:100%;
        font-size:30px;
        margin: 0 5px ;
    }
    .about-service-head p{
        width: 100%;
        font-size:12px;
    }
    /* About Numbers page */
    .about-numbers-head{
        margin-top:2rem;
    }
    .about-numbers-para{
        width:100%;
        font-size: 20px;
    }
    .about-numbers-client h4{
        font-size: 30px;
    }
    .about-numbers-client a{
        font-size: 15px;
    }
    /* about work */
    .about-work-head h1{
        font-size:25px;
        width: 110%;
        line-height: 1.3;
    }
    .img-about {
        display: none;
    }
    /* about connect */
    .connect-head h1{
        font-size:28px;
    }
    .connect-text {
        padding:0 3rem;
    }
    .connect-text p{
        font-size:18px;
    }
}