html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.back-box{
    position: absolute;
    width:200px;
    height: 720px;
    top:0px;
    margin: 0 auto;
    left:0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
    background: linear-gradient(180deg, #FED399 -60.91%, #fff2e0 100%);  
}
.nav-bar{
    position: relative;
    margin:3rem 2rem;
}
.nav-list a{
	color:#87AAAA;
	font-size: 18px;
}
.nav-btn a{
    color:white;
    background-color: #EDB161;
    margin:0;
    padding:10px;
    text-decoration: none;
} 
.nav-btn:hover{
    text-decoration: none;
    color: white;
}
.nav-img {
    position: relative;
    margin:0 35px 0 0;
}
.nav-img img{
    width: 100px;
    height: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.custom-active {
    border-left: 2px solid #EDB161;
    border-image: linear-gradient(to top, #EDB161 50%, rgba(0,0,0,0) 50%); 
    border-image-slice: 1;
    border-bottom: 2px solid black;
    border-image: linear-gradient(to right, #EDB161 50%, rgba(0,0,0,0) 50%); 
    border-image-slice: 1;
} /* 50% border left and bottom */
/* service page */
.service-head{
    margin:8rem auto;
}
.service-head h1{
    width:40%;
    margin: 0 auto;
    text-transform: capitalize;
    color:#47645D;
    font-weight:700;
}
.service-head p{
    width:50%;
    text-transform: capitalize;
    color:#87AAAA;
    margin:2.5rem auto;
}
.head-grey{
    width:12%;
    background-color: #93b8b8;
    border:10px solid #cbe4e4;
    border-radius:100px;
    margin:4rem auto 0;
}
.head-grey h4{
    padding:10px 10px 2px;
    text-align: center;
}
.v-line{
    border-right: 3px dashed black;
    height: 100px;
    width: fit-content;
    display: block;
    margin: 15px auto 4px;
}
.cir {
    background-color: #C78A53;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/* service roadmap page */
.ser-roadmap{
    margin:8rem auto;
}
.img-about {
    margin:0 ;
    width: 30%;
    height: 150px;
    background: url('./images/about-us-rect.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.orange-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f1e7;
    opacity: 0.8;
}
.roadmap-head h1{
    color: #EDB161;
    width: 70%;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-top:20px;
}
.our-service{
    position: relative;
    margin:6rem auto 0;
}
.blue-img {
    width: 60%;
    height: 350px;
    background: url('./images/ser-img2.png');
    background-size: cover;
    position: relative;
    margin:2rem auto 0;
    opacity: 0.8;
}
.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #87AAAA -60.91%, rgba(135, 170, 170, 0) 100%);
    width: 100%;
    height: 100%;
}
.blank-img{
    width: 45%;
    height: 300px;
    margin:2rem auto 0;
}
.blank-overlay{
    background-color: white;
}
.title {
    position: absolute;
    margin: 30px -30px;
    padding: 10px;
    background-color: #EDB161;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
.details {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    color: black;
    font-weight: 800;
}
.ser-line{
    border-right: 2px dashed #EDB161;
    height: 100%;
    width: fit-content;
    display: block;
    margin: 2rem auto;
}
/* Service work page */
.ser-connect{
    padding-bottom: 5rem;
}
.ser-connect-div{
    background-color: rgba(151, 185, 185, 0.6);
    padding:6rem 2rem;
    border: 12px solid rgba(151, 185, 185, 0.6);
    border-radius: 30px;
    height: 352px;
}
.connect-head h1{
    text-transform: capitalize;
    color:#3e5751;
    font-size:35px;
    font-weight: 700;
}
.connect-head p{
    color:#5c8d8d;
    width:65%;
    font-weight: 700;
    margin-top:15px;
    font-size: 16px;
}
.connect-text {
    color: #EDB161;
    display: flex;
    margin-top: 10px;
    padding: 0 10rem;
}
.connect-text div {
    width: 60px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
    background-color: #EDB161;
}
.connect-text i {
    color: white;
    font-size: 22px;
    padding:11px;
}
.connect-text p {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 700;
}
/* footer page*/
.footer-top{
    background-color: #fcf3ed;
    padding: 10px;
}
.footer-sec img{
    margin:20px 0 25px;
    width: 100px;
}
.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon i,p{
    margin: 10px 10px;
    color:#47645D;
}
.footer-icon a{
    text-decoration: none;
    color:#47645D;
}
.footer-comp h3{
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-comp p{
    margin: 20px;
    text-transform: uppercase;
}
.footer-comp a{
    text-decoration: none;
    color:#47645D;
}
.footer-connect h2{
    color: #EDB161;
    font-weight: 600;
    text-transform: capitalize;
}
.input-container {
    display: flex;
    width: 100%;
}
.input-container button {
    background: #EDB161;
    color: white;
    min-width: 40px;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: -50px;
    text-align: center;
    border:1px solid #EDB161;
}
.footer-form input{
    border: 2px solid black;
    width:70%;
    outline: none;
    height: 50px;
    background-color: #fcf3ed;
    padding: 10px 20px;
}
.footer-bottom{
    background-color: #EDB161;
}
.footer-bottom p{
    color: white;
    font-size: 16px;
}
/* Media Queries */
@media only screen and (max-width:992px){
    /* navbar */
    .nav-list a{
        font-size:15px;
    }
    .nav-img img{
        width: 90px;
        height: 97px;
    } 
    .nav-btn a{
        font-size: 15px;
        padding:5px 8px;
    }
    .back-box{
        height:650px;
    }
    /* service page */
    .service-head{
        margin:5rem auto;
    }
    .service-head h1{
        width:55%;
    }
    .service-head p{
        width:75%;
        margin:2rem auto;
    }
    .head-grey{
        margin-top:3rem;
        width:15%;
    }
    .v-line{
        margin: 10px auto 4px;
    }
    /* service roadmap page */
    .ser-roadmap{
        margin:5rem auto;
    }
    .roadmap-head h1{
        width: 90%;
        margin-top:2rem ;
        font-size: 32px;
    }
    .our-service{
        margin:4rem auto;
    }
    .blue-img {
        width: 65%;
    }
    .title {
        font-size: 20px;
    }
    .details {
        font-size: 14px;
    }
    .ser-line{
        border-right: 3px dashed #EDB161;
        height: 100%;
        width: fit-content;
        display: block;
        margin: 2rem auto;
    }
    /* service work page */
    .ser-connect-div{
        padding:1.5rem auto;
    }
    .connect-head h1{
        font-size:30px;
    }
    .connect-head p{
        width:100%;
    }
    .connect-text {
        padding: 0 4rem;
    }
    .connect-text div {
        width: 55px;
        height: 40px;
        margin-right: 10px;
    }
    .connect-text i {
        font-size: 20px;
        padding:8px;
    }
    .connect-text p {
        font-size: 15px;
    }
    /* footer page */
    .footer-sec img{
        width: 80px;
    }
    .footer-icon i,p{
        margin: 5px;
        font-size: 12px;
    }
    .footer-comp h3{
        font-size:18px;
    }
    .footer-comp p{
        margin: 12px;
    }
    .footer-connect h2{
        font-size: 20px;
    }
    .input-container button {
        min-width: 20px;
        height: 35px;
        margin-top: 7px;
        margin-left: -47px;
    }
    .footer-form input{
        width:80%;
    }
    .footer-bottom p{
        font-size: 13px;
    }
}
@media (max-width:768px){
    /* navbar */
    .nav-bar{
        margin:4rem 1rem;
    }
    .nav-list a{
        font-size:12px;
    }
    .nav-img{
        margin:0 25px 0 0;
    }
    .nav-img img{
        width: 80px;
        height: 87px;
    } 
    .nav-btn a{
        font-size: 12px;
        padding:5px;
    }
    .back-box{
        width:150px;
        height: 600px;
    }
    /* service page */
    .service-head h1{
        width:75%;
    }
    .service-head p{
        width:80%;
        margin:1rem auto;
    }
    .head-grey{
        width:20%;
    }
    /* service roadmap page */
    .ser-roadmap{
        margin:3rem auto;
    }
    .img-about {
        width: 25%;
        height: 100px;
    }
    .roadmap-head h1{
        width: 100%;
        margin-top: 1rem;
        font-size: 25px;
    }
    .our-service{
        margin:4rem auto 0;
    }
    .blue-img {
        width: 55%;
        margin:4rem auto 0;
    }
    .blank-img{
        display: none;
    }
    .details {
        font-size: 15px;
    }
    .ser-line{
        display: none;
    }
    /* service work page */
    .ser-connect-div{
        padding:4rem 2rem;
    }
    .connect-head h1{
        font-size:30px;
        text-align: center;
    }
    .connect-head p{
        font-size: 15px;
        text-align: left;
    }
    .connect-text {
        padding:0 6.5rem;
    }
    .connect-text p{
        font-size:22px;
    }
    /* footer page */
    .footer-comp p{
        margin: 12px;
        line-height: 1;
    }
    .footer-connect{
        text-align: center;
    }
    .input-container{
        display: flex;
        justify-content: center;
    }
    .input-container button {
        min-width:35px;
        height: 30px;
        margin-top: 5px;
        margin-left: -47px;
        padding:0;
    }
    .footer-form input{
        width:50%;
        height: 40px;
    }
}
@media (max-width:576px){
    /* navbar */
    .nav-bar{
        margin:2rem;
    }
    .nav-img{
        margin:0 0 0 27px;
    }
    .custom-active {
        padding:0 5px;
        margin-left: -6px;
    }
    .nav-btn{
        margin-left: -12px;
    }
    .back-box{
        width: 120px;
        height: 600px;
    }
    /* service page */
    .service-head{
        margin:4rem auto;
    }
    .service-head h1{
        width:85%;
    }
    .service-head p{
        width:100%;
        margin:1.5rem auto;
    }
    .head-grey{
        width:30%;
    }
    /* service roadmap page */
    .ser-roadmap{
        margin:4rem auto;
    }
    .img-about {
       display: none;
    }
    .roadmap-head h1{
        font-size: 28px;
    }
    .our-service {
        margin:0 auto ;
    }
    .blank-img{
        display: none;
    }
    .ser-line{
        display: none;
    }
    /* about connect */
    .connect-head{
        padding: 0;
        margin: 0;
    }
    .connect-head h1{
        font-size:26px;
    }
    .connect-text {
        padding:0 1rem;
    }
    .connect-text p{
        font-size:18px;
    }
    /* footer page */
    .footer-form input{
        width:60%;
        height: 40px;
    }
}