.navbar{
    position: relative;
}
.nav-item a{
	color:#87AAAA;
	padding: 0px;
	font-size: 18px;
}
.nav-btn{
   color:white;
   background-color: #EDB161;
   margin:0;
   padding: 2px 10px;
}
.nav-btn:hover{
    text-decoration: none;
    color: white;
}
.nav-img {
    width: 160px;
    height: 167px;
    border: 1px solid #f8f1e7;
    background-color: #f8f1e7;
    position: relative;
}
.nav-img img{
    width: 100px;
    height: 107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}